[submodule "ics_mhs_actorcore"]
	path = ics_mhs_actorcore
	url = gitolite@pfs.ipmu.jp:ics_mhs_actorcore
[submodule "ics_mhs_tron"]
	path = ics_mhs_tron
	url = gitolite@pfs.ipmu.jp:ics_mhs_tron
[submodule "ics_mhs_mcsActor"]
	path = ics_mhs_mcsActor
	url = gitolite@pfs.ipmu.jp:ics_mhs_mcsActor
[submodule "ics_mhs_mpsActor"]
	path = ics_mhs_mpsActor
	url = gitolite@pfs.ipmu.jp:ics_mhs_mpsActor
[submodule "ics_mhs_pficsActor"]
	path = ics_mhs_pficsActor
	url = gitolite@pfs.ipmu.jp:ics_mhs_pficsActor
[submodule "eups"]
	path = eups
	url = git@github.com:RobertLuptonTheGood/eups
